# Logs
.idea
logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# vscode
.vscode

vendor
.idea

# Bin folder
bin/*
!bin/.gitkeep

# Download folder
downloads/*
!downloads/.gitkeep

.env
*.db
*.sqlite

# config
diakonos.yml