# Logs
.idea
logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# vscode
.vscode

vendor
dist
.idea

# Bin folder
bin/*
!bin/.gitkeep

# outputs folder
outputs/downloads/*
!outputs/downloads/.gitkeep
outputs/cuts/*
!outputs/cuts/.gitkeep

.env
*.db
*.sqlite

# config
diakonos.yml