# Logs
.idea
logs
*.log

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# vscode
.vscode/*
!.vscode/extensions.json

vendor
dist
.idea

# Bin folder
bin/*
!bin/.gitkeep

# outputs folder
!outputs/.gitkeep
!outputs/audios/.gitkeep
!outputs/conversion/.gitkeep
!outputs/covers/.gitkeep
!outputs/cuts/.gitkeep
!outputs/downloads/.gitkeep
!outputs/merges/.gitkeep
outputs/*

# sources folder
!sources/covers/.gitkeep
!sources/fonts/.gitkeep
sources/*

.env
*.db
*.sqlite

# config
diakonos.yml
pipeline.*.yml